@font-face{
    font-family: "BebasNeue";
    src: url(Fonts/BebasNeue.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    font-family: "BebasNeue", sans-serif;
    padding: 0;
    margin: 0;
}
img{
    height: 100%;
    width: 100%;
}
a:hover{
    cursor: pointer;
}

.container{
    height: 100%;
    margin: 0 auto;
    width: 940px;
}

header{
    background-image: url(Images/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.titles{
    color: white;
    height: 100%;
    padding-left: 7%;
    text-transform: uppercase;
    width: 93%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titles h1{
    font-size: 70px;
}
.titles h2{
    font-size: 36px;
}

.menu{
    background-color: #252222;
    height: 100px;
    width: 100%;
}
.innerMenu{
    color: white;
    height: 100%;
    padding-left: 3%;
    width: 97%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.innerMenu h1{
    font-size: 48px;
    margin-top: 12px;
}
.NaS{
    height: 100%;
    width: 480px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    padding-top: 14px;
    width: 244px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    
    color: white;
    display: block;
    font-size: 18px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    width: 25%;
}
nav a:hover{
    color: #7F8CFA;
    border-bottom: 2px solid #7F8CFA;
    
}
.socials{
    width: 180px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socials a{
    background: white;
    border-radius: 50%;
    color: #252222;
    display: block;
    font-size: 18px;
    height: 27px;
    padding-top: 9px;
    text-align: center;
    text-decoration: none;
    width: 36px;
    
}
.socials a:hover{
    background: #7F8CFA;
    transition: 0.3s;
}

.portfolio{
    background: #391DB6;
    height: 1700px;
}
.portTitles{
    color: white;
    font-size: 24px;
    height: 174px;
    text-transform: uppercase;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.portTitles h1{
    font-size: 48px;
    margin-bottom: 15px;
}
.row{
    height: 255px;
    width: 100%;
    
    display: flex;
}
.smallRow{
    height: 255px;
}
.bigRow{
    height: 350px;
}
.collage i:hover{
    color: white;
    font-size: 40px;
}
.widePhoto{
    height: 100%;
    width: 50%;
}
.smallPhoto{
    height: 100%;
    width: 25%;
}
.photo:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}
.photo{
    background-image: url(Images/photo-template.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #DDD;
    font-size: 30px;
    
    display: flex;
}
.photo div{
    display: none;
    height: 100%;
    width: 50%;
    
    align-items: center;
    justify-content: center;
}
.photo:hover div{
    display: flex;
}
#p3{
    background-image: url(Images/blackMen.png);
}

.article{
    background: url(Images/space.jpg);
    color: white;
    font-size: 36px;
    height: 300px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.news{
    background-color: #cdcdcd;
    display: none;
    height: 680px;
}
.title{
    color: #252222;
    font-size: 48px;
    font-weight: 700;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsTitle{
    height: 189px;
}

.partners{
    background-color: #bebebe;
    height: 200px;
}
.partners .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#canon{
    height: 32px;
    width: 151px;
}
#nikon{
    height: 38px;
    width: 143px;
}
#man{
    height: 49px;
    width: 246px;
}
#pro{
    height: 34px;
    width: 146px;
}

.bio{
    color: white;
    background-color: #252222;
    height: 600px;
}
.bioTitle{
    color: white;
    height: 160px;
}
.photograferAndText{
    height: 440px;
    
    display: flex;
}
.partOfBio{
    height: 100%;
    width: 50%;
}
.bio h1{
    font-size: 36px;
    margin-bottom: 37px;
    text-align: center;
}
.yourPhoto{
    background: white;
    border-radius: 50%;
    height: 230px;
    margin: 0 auto 48px;
    width: 230px;
}
.bio .socials{
    margin: 0 auto;
}
.bio h2{
    font-size: 18px;
    margin-bottom: 22px;
}
.bio p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
}

footer{
    background-image: url(Images/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
}
footer h1{
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}
.email{
    background: #30378E;
    border: 5px solid white;
    border-radius: 10px;
    color: white;
    font-size: 48px;
    font-weight: 700;
    height: 90px;
    line-height: 30px;
    margin: 0 auto;
    width: 80%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.email:hover{
    background: #612E94;
    cursor: pointer;
    transition: 0.5s;
}